hr{
    margin: 0;
}

.rodape{
    padding: 1em;
    background-color: #f9f9f9;
}

.rodape__lista{
    display: none;
}

@media screen and (min-width:1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape__lista{
        display: block;
    }
    
    .rodape__titulo--lista{
        text-transform: uppercase;
        font-size: 14px;
        color: var(--cinza);
    }
    
    .rodape__item{
        font-size: 14px;
        display: flex;
        align-items: center;
        color: var(--cinza2);
        margin-top: 0.6em;       
    } 

    .rodape__titulo{
        font-weight: 400;
        font-size: 24px;
    }

    @media screen and (min-width:1728px) {
        .rodape{
            padding: 3em 0;
        }

        .rodape__lista{
            border-left: 1px solid var(--cinza);
            padding-left: 1em;
        }
    }
}